---
const { url, title } = Astro.props;
---

<style>
    .linkWrapper {
        padding: 0.5rem 1rem;
        background-color: black;
        list-style: none;
        margin: 1rem;
    }

    .linkWrapper a {
        text-decoration: none;
        color: white;
    }
</style>
<li class='linkWrapper'>
    <a href={url}>{title}</a>
</li>
