---
import Navigation from "./navigation.astro"
import Hamburger from "./Hamburger.astro"
import Themeicon from "./Themeicon.astro"
---

<header>
    <nav>
        <Hamburger/>
        <Themeicon/>
        <Navigation/>
    </nav>
</header>